/* Police normale (Regular) */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../font/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Améliore le chargement */
}

/* Police en gras (Bold) */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../font/OpenDyslexic/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.dyslexia-mode, .dyslexia-mode * {
    font-family: 'OpenDyslexic', sans-serif !important;
}

body {
    font-family: 'Helvetica',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display : block;
    background-color: #E1E9E9;

}

.container{
    height: 100vh;
    display : inline;
    
}

.connexion-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

a:visited{
    color: inherit;

}

button {
    border: 1px solid #0d5e50; /* Bordure du bouton */
    border-radius: 5px; /* Coins arrondis du bouton */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color: #2C2C2C;
}

.buttonConnect{
    width: 85%;
    background-color: #12816F; /* Couleur du bouton */
}

.connect:hover{
    width: 60%;
    background-color: #1ed7b8; /* Couleur du bouton */
}

.ConnexionButton-RegisterLink>a{
    color: #12816F;
    margin-left: 55%;
}


form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
}

.formItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

input{
    border: none;
    border-radius: 5px;
    height: 30px;
}

.formItem label{
    font-weight: bold;
    padding-bottom: 3%;
}

.formButtonRegisterEtConnexion{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.RegisterPageLinkDiv{
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 80%;
}

.RegisterPageLinkDiv p{
    margin: 0;
    font-style: italic;
}

#message{
    text-align: center;
}

.return-btn {
    position: absolute;
    left: 5%;
    top: 150px; /* Set the vertical distance here */
}

