
body,html{
    font-family: 'Helvetica',sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #E1E9E9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

button {
    border: 1px solid #0d5e50; /* Bordure du bouton */
    border-radius: 5px; /* Coins arrondis du bouton */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color: #2C2C2C;
}



.connect:hover{
    width: 60%;
    background-color: #1ed7b8; /* Couleur du bouton */
}

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
}

.formItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

input{
    border: none;
    border-radius: 5px;
    height: 30px;
}

.formItem label{
    font-weight: bold;
    padding-bottom: 3%;
}

.formButtonRegisterEtConnexion{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.formItemsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formItemsContainer>.formItem{
    width: 47%;
}

.LoginPageLinkDiv{
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 80%;
}

.LoginPageLinkDiv p{
    margin: 0;
    font-style: italic;
}

#buttonConnect{
    width: 85%;
    background-color: #1AB99F; /* Couleur du bouton */
}

#message{
    text-align: center;
}