
body,html{
    font-family: 'Helvetica',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E1E9E9;
}

/* Page d'accueil*/

.container {
    width: 100%; /* Prend toute la largeur */
    height: 75vh; /* Hauteur ajustable */
    background: #1AB99F; /* Couleur du fond */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

img{
    width: 65%;
    margin: 10% 0 7% 0
}

h1{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.accueilH1{
    color: #ffffff;
}

a:visited{
    color: inherit;

}

button {
    border: 1px solid #0d5e50; /* Bordure du bouton */
    border-radius: 5px; /* Coins arrondis du bouton */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color: #2C2C2C;
}

.buttonConnect{
    width: 85%;
    background-color: #1AB99F; /* Couleur du bouton */
}

.connect:hover{
    width: 60%;
    background-color: #1ed7b8; /* Couleur du bouton */
}

.ConnexionButton-RegisterLink>a{
    color: #1AB99F;
    margin-left: 55%;
}

/* page de connexion */

.connexionBody{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
}

.formItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

input{
    border: none;
    border-radius: 5px;
    height: 30px;
}

.formItem label{
    font-weight: bold;
    padding-bottom: 3%;
}

.formButtonRegisterEtConnexion{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.RegisterPageLinkDiv{
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 80%;
}

.RegisterPageLinkDiv p{
    margin: 0;
    font-style: italic;
}

/* Page d'enregistrement */

.formItemsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.formItemsContainer>.formItem{
    width: 47%;
}

