body,html{
    font-family: 'Helvetica',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 12px; 
}

body{
    height: 100%;
    background-color: #DDEEEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header */
header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #12816F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  
p{
    margin: 0;
}

form input{
    background-color: #FFFFFF00;
    border-color:#FFFFFF00;
    width: 60%;
    flex: 1;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-compte{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.infos-compte div{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.infos-compte div p{
    background-color:rgba(255, 255, 255, 50%);
    padding: 5%;
    width: 90%;
    border-radius: 5px;
    display: flex;
}

.infos-compte strong{
    margin-right: 4%;
}

.double-div-container{
    display: flex;
    justify-content: space-around;
    gap: 5%;
    padding: 0;
}

.double-div-container p{
    display: flex;
    align-items: center;
}


/* Parametres */

label{
    margin-bottom: 2%;
}

.checkbox-actu-container{
    width: 80%;
    display: flex;   
    justify-content: center;
    margin-bottom: 5%;
}

.devise-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.devise-container select{
    padding: 2%;
    border-color: #00000050;
    border-radius: 5px;
}

button {
    border: 1px solid #0d5e50; /* Bordure du bouton */
    background-color: #1ed7b8;
    width: 50%;
    border-radius: 5px; /* Coins arrondis du bouton */
    padding: 10px 20px;
    cursor: pointer;
    color: #2C2C2C;
    margin: 5px 5px 100px;
}


/* Footer (fixed at bottom) */
footer {
    background-color: #12816F;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.refine-search-container {
    display: flex;
    gap : 10px;
}

.logout-btn {
    color: red;
    border-color: red;
}
